
@media \0screen {

	header.main .search.open .form {
		background:#f3f3f3 url(../img/elements/ui/site/ico/3-1.png) left center no-repeat;
	}
	header.main .search .trigger {
		background:#f3f3f3 url(../img/elements/ui/site/ico/3-1.png) center no-repeat;
	}
	header.main .search.open .trigger {
		background-image:url(../img/elements/ui/site/button/close-2-1.png);
	}
	
	.content .search .form {
		background:url(../img/elements/ui/site/ico/3-1.png) left center no-repeat;
	}
	.content .search .form button.close {
		background:#fff url(../img/elements/ui/site/button/close-2-1.png) center no-repeat;
	}





	.window-contact-forms button.close {
		background:#f2f2f2 url(../img/elements/ui/site/button/close-2-2.png) center no-repeat;
	}
	.window-contact-forms button.close:hover {
		background-image:url(../img/elements/ui/site/button/close-2-1.png);
	}

























	nav.part ul li a:hover i._1,
	nav.part ul li a i._1:before {
		background-image:url(../img/elements/ui/site/ico/group-1/1-2.png);
	}
	nav.part ul li a i._1,
	nav.part ul li a.activ i._1,
	nav.part ul li a:active i._1 {
		background-image:url(../img/elements/ui/site/ico/group-1/1-1.png);
	}
	nav.part ul li a:hover i._2,
	nav.part ul li a i._2:before {
		background-image:url(../img/elements/ui/site/ico/group-1/2-2.png);
	}
	nav.part ul li a i._2,
	nav.part ul li a.activ i._2,
	nav.part ul li a:active i._2 {
		background-image:url(../img/elements/ui/site/ico/group-1/2-1.png);
	}
	nav.part ul li a:hover i._3,
	nav.part ul li a i._3:before {
		background-image:url(../img/elements/ui/site/ico/group-1/3-2.png);
	}
	nav.part ul li a i._3,
	nav.part ul li a.activ i._3,
	nav.part ul li a:active i._3 {
		background-image:url(../img/elements/ui/site/ico/group-1/3-1.png);
	}
	nav.part ul li a:hover i._4,
	nav.part ul li a i._4:before {
		background-image:url(../img/elements/ui/site/ico/group-1/4-2.png);
	}
	nav.part ul li a i._4,
	nav.part ul li a.activ i._,
	nav.part ul li a:active i._4 {
		background-image:url(../img/elements/ui/site/ico/group-1/4-1.png);
	}
	nav.part ul li a:hover i._5,
	nav.part ul li a i._5:before {
		background-image:url(../img/elements/ui/site/ico/group-1/5-2.png);
	}
	nav.part ul li a i._5,
	nav.part ul li a.activ i._5,
	nav.part ul li a:active i._5 {
		background-image:url(../img/elements/ui/site/ico/group-1/5-1.png);
	}
}
