﻿
















.excursion #scene .content {
	background:url(../img/elements/backgrounds/excursion/1.jpg) top left;
}


/**
 * @author Ivan Pasechny <ipasechny@gmail.com>
**/

*,
*:after,
*:before {
	outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
::-moz-selection {
	color:#000;
	background:#f3f3f3;
}
::selection {
	color:#000;
	background:#f3f3f3;
}

html,
body {
	width:100%;
	height:100%;
}
body {
	color:#000;
	font-size:16px;
	line-height:26px;
	overflow-y:scroll;
	position:absolute;
	word-spacing:0.03em;
	letter-spacing:0.013em;
	-webkit-text-stroke:0px;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	font-family:"RedRing-Regular", Arial, Helvetica, sans-serif;
}

.page {
	wid th:1000px;
	color:#000;
	min-height:100%;
	margin:0px auto;
	min-width:1000px;
	position:relative;
	padding-bottom:125px;
}

/*[=Overlay <]*/
#overlay {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:700;
	display:none;
	overflow:auto;
	position:fixed;
}
/*[=Overlay >]*/

/*[=Preloader <]*/
#preloader {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	overflow:hidden;
	background:#fff;
	text-align:center;
	z-index:1000000000;
}
#preloader .middle {
	display:table-cell;
	vertical-align:middle;
}
#preloader .middle .label {
	color:#303030;
	font-size:16px;
	position:relative;
	line-height:normal;
	padding:55px 0px 0px;
	display:inline-block;
	letter-spacing:0.08em;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
}
#preloader .middle .label:after {
	top:0px;
	left:0px;
	content:"";
	width:100%;
	height:42px;
	display:block;
	position:absolute;
	background:#fff url(../img/elements/preloader.gif) center bottom no-repeat
}
/*[=Preloader >]*/

/*[==Header main <]*/
header.main {
	z-index:5000;
	background:#fff;
	position:relative;
}
header.main:after {
	top:90px;
	z-index:150;
	background:#f3f3f3;
}
header.main:after,
header.main:before {
	left:0px;
	content:"";
	width:100%;
	height:90px;
	display:block;
	position:absolute;
}
header.main:before {
	top:0px;
	z-index:170;
	background:#fff;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}
.page.home header.main:after {
	display:none;
}

/*[Section top <]*/
header.main .section-top {
	height:90px;
	margin:0px auto;
	max-width:1280px;
	position:relative;
}

/*[Logo <]*/
header.main .logo {
	width:16%;
	float:left;
	z-index:300;
	height:90px;
	display:table;
	max-width:205px;
	position:relative;
}
header.main .logo .middle {
	display:table-cell;
	vertical-align:middle;
}
header.main .logo .middle img {
	width:100%;
	height:auto;
	pointer-events:none;
	display:inline-block;
	vertical-align:middle;
}
/*[Logo >]*/

/*[Call <]*/
header.main .call {
	width:16%;
	float:right;
	height:90px;
	z-index:300;
	color:#1a1a1a;
	display:block;
	cursor:pointer;
	max-width:205px;
	line-height:16px;
	padding-top:36px;
	text-align:center;
	position:relative;
	white-space:nowrap;
	font-family:"RedRing-Medium";
	border-bottom:solid 5px #32ff64;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
header.main .call .label {
	font-size:10px;
	margin-top:10px;
	text-transform:uppercase;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
header.main .call:hover {
	border-color:#ffff64;
}
header.main .call.activ,
header.main .call:active {
	border-color:#ffff64;
}
header.main .call .value {
	font-size:15px;
}
header.main .call.activ .label,
header.main .call:active .label {
	color:#e2e2e2;
}
header.main .call.valid .label {
	color:#32ff64;
}
header.main .call.valid:hover .label,
header.main .call.valid:active .label {
	color:#ffff64;
}
/*[Call >]*/

/*[Nav lang <]*/
nav.lang {
	float:left;
	width:9.8%;
	height:90px;
	color:#1a1a1a;
	cursor:pointer;
	font-size:14px;
	cursor:pointer;
	max-width:125px;
	min-width:100px;
	background:#fff;
	text-align:center;
	position:relative;
	text-transform:uppercase;
	font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}

/*[Value <]*/
nav.lang .value {
	height:90px;
	z-index:300;
	padding:33px 0px;
	text-indent:-10px;
	position:relative;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.lang .trigger:hover + .value {
	color:#e2e2e2;
}
/*[Value >]*/

/*[Trigger <]*/
nav.lang .trigger {
	top:0px;
	left:0px;
	width:100%;
	height:90px;
	z-index:305;
	position:absolute;
}
nav.lang .trigger:after {
	top:0px;
	left:50%;
	width:10px;
	content:"";
	height:90px;
	display:block;
	margin-left:10px;
	position:absolute;
	background:url(../img/elements/ui/site/arrow/bottom-1-1.png) center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.lang.open .trigger:after {
	background-image:url(../img/elements/ui/site/arrow/top-1-1.png);
}
nav.lang .trigger:hover:after {
	background-image:url(../img/elements/ui/site/arrow/bottom-1-2.png);
}
nav.lang.open .trigger:hover:after {
	background-image:url(../img/elements/ui/site/arrow/top-1-2.png);
}
/*[Trigger >]*/

/*[Dropdown <]*/
nav.lang .dropdown {
	left:0px;
	width:100%;
	z-index:160;
	overflow:hidden;
	background:#fff;
	position:absolute;
	line-height:normal;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}
nav.lang .dropdown a {
	color:#000;
	display:block;
	padding:15px 30px;
	text-decoration:none;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.lang .dropdown a:hover {
	color:#bfbfbf;
}
nav.lang .dropdown a.selected {
	display:none;
}
/*[Dropdown >]*/

/*[Nav lang >]*/

/*[Nav main <]*/
nav.main {
	float:left;
	width:46.9%;
	height:90px;
	z-index:300;
	margin:0px 5.55%;
	position:relative;
}
nav.main ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
nav.main > ul {
	width:100%;
	height:90px;
	display:table;
}
nav.main > ul > li {
	vertical-align:top;
	display:table-cell;
}
nav.main > ul > li > a,
nav.main > ul > li > span {
	height:90px;
	display:block;
	color:#1a1a1a;
	font-size:14px;
	line-height:16px;
	padding:33px 10px;
	text-align:center;
	white-space:nowrap;
	text-decoration:none;
	text-transform:uppercase;
	font-family:"RedRing-Medium";
	border-top:solid 5px transparent;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.main > ul > li:hover > a,
nav.main > ul > li > a:hover,
nav.main > ul > li:hover > span,
nav.main > ul > li > span:hover {
	color:#e2e2e2;
	border-color:#32ff64;
}
nav.main > ul > li > a.activ,
nav.main > ul > li > span.activ {
	color:#e2e2e2;
	border-color:#ffff64;
}
/*[Nav main >]*/

/*[Section top >]*/

/*[Section bottom <]*/
header.main .section-bottom {
	position:relative;
	background:#f3f3f3;
}
header.main .section-bottom > .wrap {
	min-height:90px;
	margin:0px auto;
	max-width:1280px;
}

/*[Search <]*/
header.main .search {
	top:0px;
	right:0px;
	width:100%;
	height:90px;
	position:absolute;
}
header.main .search > .wrap {
	top:0px;
	left:0px;
	width:100%;
	height:90px;
	margin:0px auto;
	max-width:1280px;
	position:relative;
}
header.main .search.open:after {
	left:0px;
	content:"";
	width:100%;
	height:5px;
	z-index:1500;
	display:block;
	background:#fff;
	position:absolute;
}

/*[Form <]*/
header.main .search .form {
	top:0px;
	left:0px;
	opacity:0;
	z-index:155;
	height:90px;
	width:91.85%;
	display:none;
	position:absolute;
	background:#f3f3f3;
	padding:18px 3.95% 18px 7.95%;
}
header.main .search.open .form {
	opacity:1;
	display:block;
	background:#f3f3f3 url(../img/elements/ui/site/ico/3-1.svg) 3.95% center no-repeat;
	-webkit-background-size:19px;
	-moz-background-size:19px;
	-ms-background-size:19px;
	-o-background-size:19px;
	background-size:19px;
}
header.main .search .form input[type="text"] {
	margin:0px;
	width:100%;
	height:54px;
	border:none;
	color:#d9d9d9;
	font-size:14px;
	padding:18px 28px;
	text-transform:uppercase;
	font-family:"RedRing-Bold";
}
header.main .search .form input[type="text"]:focus {
	color:#303030;
}
header.main .search .form input[type="text"].loading {
	background:#fff url(../img/elements/loader-right.gif) right center no-repeat;
}
header.main .search .form input:placeholder {color:#d9d9d9;}
header.main .search .form input:-moz-placeholder {color:#d9d9d9;}
header.main .search .form input::-moz-placeholder {color:#d9d9d9;}
header.main .search .form input:-ms-input-placeholder {color:#d9d9d9;}
header.main .search .form input::-webkit-input-placeholder {color:#d9d9d9;}
/*[Form >]*/

/*[Trigger <]*/
header.main .search .trigger {
	top:0px;
	right:0px;
	width:8.2%;
	height:90px;
	z-index:155;
	cursor:pointer;
	position:absolute;
	background:#f3f3f3 url(../img/elements/ui/site/ico/3-1.svg) center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-webkit-background-size:19px;
	-moz-background-size:19px;
	-ms-background-size:19px;
	-o-background-size:19px;
	background-size:19px;
}
header.main .search.open .trigger {
	background-image:url(../img/elements/ui/site/button/close-2-1.svg);
}
header.main .search .trigger:hover {
	background-color:#ffff64;
}
/*[Trigger >]*/

/*[Search >]*/

/*[Nav inner <]*/
nav.inner {
	float:left;
	width:91.8%;
}
nav.inner ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
nav.inner > ul {
	width:100%;
	display:table;
}
nav.inner > ul > li {
	display:table-cell;
}
nav.inner > ul > li > a,
nav.inner > ul > li > span {
	z-index:155;
	height:90px;
	color:#303030;
	display:block;
	font-size:14px;
	cursor:pointer;
	line-height:16px;
	position:relative;
	text-align:center;
	padding:38px 10px;
	background:#f3f3f3;
	text-decoration:none;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.inner > ul > li:hover > a,
nav.inner > ul > li > a:hover,
nav.inner > ul > li > a.activ,
nav.inner > ul > li > a.active,
nav.inner > ul > li:hover > span,
nav.inner > ul > li > span:hover,
nav.inner > ul > li > span.activ,
nav.inner > ul > li > span.active {
	background:#ffff64;
}

/*[Submenu <]*/
nav.inner .submenu {
	top:100%;
	left:0px;
	opacity:0;
	width:100%;
	display:none;
	overflow:hidden;
	background:#fff;
	position:absolute;
	border-top:solid 5px #ffff64;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}
nav.inner .submenu .wrap {
	height:auto;
	font-size:0px;
	line-height:0px;
	margin:0px auto;
	overflow:hidden;
	max-width:1280px;
	padding:3.15% 2.65%;
}

/*[Item <]*/
nav.inner .submenu .item {
	width:21.25%;
	color:#1a1a1a;
	font-size:16px;
	line-height:20px;
	text-align:center;
	vertical-align:top;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	margin:0px 4.85% 4.85% 0px;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.inner .submenu .item:hover {
	opacity:.5;
}
nav.inner .submenu .item .image {
	width:250px;
	height:198px;
	display:table;
	margin-bottom:20px;
}
nav.inner .submenu .item .image {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
nav.inner .submenu .item .image img {
	max-height:198px;
}
nav.inner .submenu .item:nth-child(4n) {
	margin-right:0px;
}
/*[Item >]*/

/*[Submenu >]*/

/*[Nav inner >]*/

/*[Section bottom >]*/

/*[==Header main >]*/

/*[==Footer main <]*/
footer.main {
	left:0px;
	bottom:0px;
	width:100%;
	height:125px;
	font-size:14px;
	background:#fff;
	overflow:hidden;
	padding:47px 0px;
	position:absolute;
	font-family:"RedRing-Regular";
	box-shadow:0px -1px 5px 0px rgba(0,0,0,.15);
}
footer.main .wrap {
	margin:0px auto;
	max-width:1280px;
	padding:0px 2.65%;
}

/*[Copyright <]*/
footer.main .copyright {
	float:left;
	color:#000;
	line-height:31px;
}
/*[Copyright >]*/

/*[Developer <]*/
footer.main .developer {
	color:#c8c8c8;
	margin:0px auto;
	line-height:31px;
	text-align:center;
}
footer.main .developer a {
	color:#c8c8c8;
	text-decoration:none;
	border-bottom:solid 1px transparent;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
footer.main .developer a:hover {
	border-color:#c8c8c8;
}
/*[Developer >]*/

/*[Nav social <]*/
footer.main nav.social {
	float:right;
	height:31px;
	font-size:0px;
}
footer.main nav.social a {
	width:31px;
	height:31px;
	margin-left:15px;
	display:inline-block;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
footer.main nav.social a:before {
	content:"";
	display:block;
	position:fixed;
	top:-999999999px;
	left:-999999999px;
}
footer.main nav.social a:first-child {
	margin-left:0px;
}
footer.main nav.social a.fb {
	background-image:url(../img/elements/ui/site/ico/social/fb-1-1.png);
}
footer.main nav.social a.in {
	background-image:url(../img/elements/ui/site/ico/social/in-1-1.png);
}
footer.main nav.social a.yt {
	background-image:url(../img/elements/ui/site/ico/social/yt-1-1.png);
}
/*[Nav social >]*/

/*[==Footer main >]*/

/*[==Content main <]*/
.content {
	margin:0px auto;
	padding:60px 0px;
}
.page-title {
	margin:40px 0px;
}
.page-subtitle {
	margin:-20px 0px 40px;
}
.content .wrapper {
	max-width:1280px;
	padding:0px 2.65%;
	margin:0px auto 0px;
}
.content .column {
	width:75.45%;
	max-width:890px;
	margin-top:40px;
}
.content:after,
.content .wrap:after,
.content .column:after {
	clear:both;
	content:"";
	display:block;
}
.content .column > :last-child,
.content .wrapper > :last-child {
	margin-bottom:0px;
}
.content .column > :first-child,
.content .wrapper > :first-child {
	margin-top:0px;
}

/*[===Group <]*/

/*[Box <]*/

/*[News box <]*/

/*[Item <]*/
.news-box article.item {
	overflow:hidden;
	margin:40px 0px 0px;
}
.news-box article.item .date {
	float:left;
	width:125px;
	color:#898989;
	font-size:14px;
	margin-right:40px;
}
.news-box article.item .data {
	display:table;
}
.news-box article.item .data p {
	margin:10px 0px 0px;
}
.news-box article.item .data .title {
	color:#1a1a1a;
	font-size:18px;
	text-decoration:none;
    font-family:"RedRing-Bold";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.news-box article.item .data .title:hover {
	color:#bfbfbf;
}
/*[Item >]*/

/*[News box >]*/

/*[Contacts box <]*/
.contacts-box {
	margin:30px 0px;
}
.contacts-box:after {
	clear:both;
	content:"";
	display:block;
}

/*[Nav <]*/
.contacts-box nav {
	width:100%;
	display:table;
	margin-bottom:50px;
}
.contacts-box nav span {
	height:70px;
	width:33.333%;
	color:#303030;
	font-size:14px;
	cursor:pointer;
	padding:0px 10px;
	text-align:center;
	white-space:nowrap;
	line-height:normal;
	display:table-cell;
	vertical-align:middle;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	-webkit-transition:background .2s ease;
	-moz-transition:background .2s ease;
	-ms-transition:background .2s ease;
	-o-transition:background .2s ease;
	transition:background .2s ease;
}
.contacts-box nav span i {
	font-style:normal;
	display:inline-block;
	border-bottom:dotted 2px #303030;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.contacts-box nav span.activ {
	color:#303030;
	background:#ffff64;
}
.contacts-box nav span:hover,
.contacts-box nav span:active {
	color:#bfbfbf;
}
.contacts-box nav span:hover i,
.contacts-box nav span:active i {
	border-color:#bfbfbf;
}
.contacts-box nav span.activ i {
	border-color:transparent;
}
.contacts-box nav span.activ:hover,
.contacts-box nav span.activ:active {
	color:#303030;
}
.contacts-box nav span.activ:hover i,
.contacts-box nav span.activ:active i {
	border-color:transparent;
}
/*[Nav >]*/

/*[Container <]*/

/*[Map <]*/
.contacts-box .map {
	float:right;
	width:69.55%;
	height:415px;
	background:#f3f3f3;
}
/*[Map >]*/

/*[Tabs <]*/
.contacts-box .tabs {
	width:28%;
	float:left;
}
.contacts-box .tabs .tab {
	display:none;
}
.contacts-box .tabs .tab:after {
	clear:both;
	content:"";
	display:block;
}
.contacts-box .tabs .tab.activ {
	display:block;
}
.contacts-box .tabs .tab .data p,
.contacts-box .tabs .tab .data ol {
	margin:10px 0px 30px;
}
.contacts-box .tabs .tab .data > :last-child {
	margin-bottom:0px;
}
.contacts-box .tabs .tab .data > :first-child {
	margin-top:0px;
}
/*[Tabs >]*/

/*[Container >]*/

/*[Contacts box >]*/

/*[Products box <]*/
.products-box {
	font-size:0px;
	margin-top:-3%;
	line-height:0px;
	background:#fff;
}

/*[Item <]*/
.products-box .item {
	opacity:1;
	color:#000;
	width:23.35%;
	background:#fff;
	text-align:center;
	line-height:normal;
	vertical-align:top;
	text-decoration:none;
	display:inline-block;
	margin:3.38% 6.65% 3.38% 0px;
	-webkit-transition:opacity .2s ease;
	-moz-transition:opacity .2s ease;
	-ms-transition:opacity .2s ease;
	-o-transition:opacity .2s ease;
	transition:opacity .2s ease;
}
.products-box .item:hover {
	opacity:.5;
}
.products-box.filtered .item {
	display:none;
}
.products-box .item:nth-child(3n) {
	margin-right:0px;
}

/*[Data <]*/
.products-box .item .data .name {
	font-size:16px;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}
.products-box .item .data .info {
	font-size:10px;
}
/*[Data >]*/

/*[Image <]*/
.products-box .item .image {
	width:100%;
	height:215px;
	display:table;
	text-align:center;
	margin-bottom:10px;
}
.products-box .item .image .middle {
	display:table-cell;
	vertical-align:bottom;
}
.products-box .item .image .middle img {
	max-width:100%;
	max-height:215px;
}
/*[Image >]*/

/*[Item >]*/

/*[Products box >]*/

/*[Projects box <]*/
.projects-box {
	margin:40px 0px -60px;
}

/*[Item <]*/
.projects-box .item {
	display:block;
	font-size:0px;
	line-height:0px;
	position:relative;
	text-decoration:none;
}

/*[Data <]*/
.projects-box .item .data {
	overflow:hidden;
	position:absolute;
}
.projects-box .item .data p {
	margin:0px;
}

/*[Hide <]*/
.projects-box .item .data.hide {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	font-size:15px;
	line-height:26px;
	position:absolute;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}
.projects-box .item .data.hide .bottom {
	left:0px;
	width:100%;
	height:50%;
	bottom:-100%;
	display:table;
	position:absolute;
	background:url(../img/elements/pattern/color/4.png);
}
.projects-box .item .data.hide .bottom .middle {
	color:#1a1a1a;
	padding:35px 50px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
/*[Hide >]*/

/*[Show <]*/
.projects-box .item .data.show {
	top:70px;
	width:410px;
	font-size:12px;
	line-height:18px;
	text-align:center;
    font-family:"RedRing-Bold";
	border:solid 2px transparent;
}
.projects-box .item .data.show .top {
	padding:35px 50px;
	border-bottom:solid 2px transparent;
}
.projects-box .item .data.show.left {
	left:50px;
}
.projects-box .item .data.show.right {
	right:50px;
}
.projects-box .item .data.show .bottom {
	padding:25px 50px;
}
.projects-box .item .data.show .top .title {
	font-size:15px;
	text-transform:uppercase;
}

/*[1 <]*/
.projects-box .item .data.show._1,
.projects-box .item .data.show._1 .top {
	color:#000;
	border-color:#000;
}
/*[1 >]*/

/*[2 <]*/
.projects-box .item .data.show._2,
.projects-box .item .data.show._2 .top {
	color:#fff;
	border-color:#fff;
}
/*[2 >]*/

/*[Show >]*/

/*[Data >]*/

/*[Image <]*/
.projects-box .item .image,
.projects-box .item .image img {
	width:100%;
}
/*[Image >]*/

/*[Item >]*/

/*[Projects box >]*/

/*[Box >]*/

/*[Nav <]*/

/*[Nav filter <]*/
nav.filter {
	width:100%;
	height:54px;
	z-index:100;
	font-size:0px;
	display:table;
	line-height:0px;
	margin:40px 0px;
	position:relative;
}
nav.filter span {
	height:54px;
	color:#303030;
	font-size:14px;
	cursor:pointer;
	text-align:center;
	padding:0px 10px;
	line-height:normal;
	display:table-cell;
	vertical-align:middle;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	-webkit-transition:background .2s ease;
	-moz-transition:background .2s ease;
	-ms-transition:background .2s ease;
	-o-transition:background .2s ease;
	transition:background .2s ease;
}
nav.filter span i {
	font-style:normal;
	display:inline-block;
	border-bottom:dotted 2px #303030;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.filter span.activ {
	color:#303030;
	background:#ffff64;
}
nav.filter span:hover,
nav.filter span:active {
	color:#bfbfbf;
}
nav.filter span:hover i,
nav.filter span:active i {
	border-color:#bfbfbf;
}
nav.filter span.activ i {
	border-color:transparent;
}
nav.filter span.activ:hover,
nav.filter span.activ:active {
	color:#303030;
}
nav.filter span.activ:hover i,
nav.filter span.activ:active i {
	border-color:transparent;
}
/*[Nav filter >]*/

/*[Nav section <]*/
nav.part {
	z-index:1000;
	position:relative;
	background:#f6f6f6;
	margin:-60px 0px 60px;
	-webkit-transition:box-shadow .2s ease;
	-moz-transition:box-shadow .2s ease;
	-ms-transition:box-shadow .2s ease;
	-o-transition:box-shadow .2s ease;
	transition:box-shadow .2s ease, position .2s ease;
}
nav.part ul {
	padding:0px;
	height:145px;
	display:table;
	margin:0px auto;
	max-width:1280px;
}
nav.part ul li {
	width:256px;
	height:145px;
	display:table-cell;
}
nav.part.fixed {
	top:0px;
	left:0px;
	width:100%;
	margin:0px;
	position:fixed;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}
nav.part ul li a {
	height:145px;
	color:#1a1a1a;
	display:block;
	font-size:14px;
	padding:35px 0px;
	text-align:center;
	position:relative;
	line-height:normal;
	background:#f6f6f6;
	text-decoration:none;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.part ul li a i {
	width:42px;
	height:42px;
	display:block;
	margin:0px auto;
	border-radius:50%;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-ms-background-size:contain;
	-o-background-size:contain;
	background-size:contain;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.part ul li a span {
	display:block;
	margin-top:20px;
}
nav.part ul li a.activ,
nav.part ul li a:active {
	background:#fff;
}
nav.part ul li a i:before {
	content:"";
	display:block;
	position:fixed;
	top:-9999999999px;
	left:-9999999999px;
}
nav.part ul li a:hover i._1,
nav.part ul li a i._1:before {
	background-image:url(../img/elements/ui/site/ico/group-1/1-2.svg);
}
nav.part ul li a i._1,
nav.part ul li a.activ i._1,
nav.part ul li a:active i._1 {
	background-image:url(../img/elements/ui/site/ico/group-1/1-1.svg);
}
nav.part ul li a:hover i._2,
nav.part ul li a i._2:before {
	background-image:url(../img/elements/ui/site/ico/group-1/2-2.svg);
}
nav.part ul li a i._2,
nav.part ul li a.activ i._2,
nav.part ul li a:active i._2 {
	background-image:url(../img/elements/ui/site/ico/group-1/2-1.svg);
}
nav.part ul li a:hover i._3,
nav.part ul li a i._3:before {
	background-image:url(../img/elements/ui/site/ico/group-1/3-2.svg);
}
nav.part ul li a i._3,
nav.part ul li a.activ i._3,
nav.part ul li a:active i._3 {
	background-image:url(../img/elements/ui/site/ico/group-1/3-1.svg);
}
nav.part ul li a:hover i._4,
nav.part ul li a i._4:before {
	background-image:url(../img/elements/ui/site/ico/group-1/4-2.svg);
}
nav.part ul li a i._4,
nav.part ul li a.activ i._,
nav.part ul li a:active i._4 {
	background-image:url(../img/elements/ui/site/ico/group-1/4-1.svg);
}
nav.part ul li a:hover i._5,
nav.part ul li a i._5:before {
	background-image:url(../img/elements/ui/site/ico/group-1/5-2.svg);
}
nav.part ul li a i._5,
nav.part ul li a.activ i._5,
nav.part ul li a:active i._5 {
	background-image:url(../img/elements/ui/site/ico/group-1/5-1.svg);
}
/*[Nav section >]*/

/*[Nav link list <]*/
nav.link-list {
	margin:60px 0px 0px;
}
nav.link-list ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
nav.link-list ul li {
	display:block;
	margin:30px 0px 0px;
}
nav.link-list ul li:first-child {
	margin-top:0px;
}
/*[Nav link list >]*/

/*[Nav file list <]*/
nav.file-list {
	margin:30px 0px;
}
nav.file-list ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
nav.file-list ul li {
	display:block;
	margin:30px 0px 0px;
}
nav.file-list ul li a {
	color:#000;
	font-size:14px;
	margin-left:20px;
	position:relative;
	line-height:normal;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	border-bottom:solid 1px #000;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.file-list ul li a span {
	font-size:11px;
}
nav.file-list ul li a:hover,
nav.file-list ul li a:active {
	color:#bfbfbf;
	border-color:#bfbfbf;
}
nav.file-list ul li a:before {
	top:0px;
	left:-20px;
	content:"";
	width:12px;
	height:100%;
	display:block;
	position:absolute;
	background:url(../img/elements/ui/site/arrow/bottom-6-1.png) center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
nav.file-list ul li a:hover:before,
nav.file-list ul li a:active:before {
	background-image:url(../img/elements/ui/site/arrow/bottom-6-2.png);
}
nav.file-list ul li:first-child {
	margin-top:0px;
}
/*[Nav file list >]*/

/*[Nav >]*/

/*[Link <]*/

/*[Link back <]*/
.link-back {
	color:#1a1a1a;
	font-size:14px;
	padding-left:20px;
	line-height:normal;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	background:url(../img/elements/ui/site/arrow/left-2-1.png) left center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.link-back:before {
	content:"";
	display:block;
	position:fixed;
	top:-9999999999px;
	left:-9999999999px;
}
.link-back:hover,
.link-back:before {
	color:#bfbfbf;
	background-image:url(../img/elements/ui/site/arrow/left-2-2.png);
}
/*[Link back >]*/

/*[Link part <]*/
.link-part {
	color:#303030;
	font-size:12px;
	line-height:normal;
	padding-right:25px;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	background:url(../img/elements/ui/site/arrow/right-4-1.png) right center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.link-part:hover,
.link-part:before {
	color:#bfbfbf;
	background-image:url(../img/elements/ui/site/arrow/right-4-2.png);
}
.link-part:before {
	content:"";
	display:block;
	top:-9999999px;
	left:-9999999px;
}
/*[Link part >]*/

/*[Link >]*/

/*[Form <]*/

/*[Feedback form <]*/
.feedback-form p {
	margin:30px 0px 0px;
}
.feedback-form label {
	font-size:14px;
    font-family:"RedRing-Regular";
}
.feedback-form .title {
	line-height:20px;
}
.feedback-form button {
	width:100%;
	display:block;
}
.feedback-form .message {
	z-index:100;
	background:#fff;
	position:relative;
}
.feedback-form .message,
.feedback-form .message .done,
.feedback-form .message .error {
	display:none;
}
.feedback-form input[type="text"] {
	margin:5px 0px 20px;
}
.feedback-form .message .done > :last-child,
.feedback-form .message .error > :last-child {
	margin-bottom:0px;
}
.feedback-form .message .done > :first-child,
.feedback-form .message .error > :first-child {
	margin-top:0px;
}
/*[Feedback form <]*/

/*[Callback form <]*/
.callback-form p {
	margin:30px 0px 0px;
}
.callback-form label {
	font-size:14px;
    font-family:"RedRing-Regular";
}
.callback-form .title {
	line-height:20px;
}
.callback-form button {
	width:100%;
	display:block;
}
.callback-form .message {
	z-index:100;
	background:#fff;
	position:relative;
}
.callback-form .message,
.callback-form .message .done,
.callback-form .message .error {
	display:none;
}
.callback-form input[type="text"] {
	margin:5px 0px 20px;
}
.callback-form .message .done > :last-child,
.callback-form .message .error > :last-child {
	margin-bottom:0px;
}
.callback-form .message .done > :first-child,
.callback-form .message .error > :first-child {
	margin-top:0px;
}
/*[Callback form >]*/

/*[Form >]*/

/*[Block <]*/

/*[Video block <]*/
.video-block {
	display:block;
	margin:60px 0px;
	text-align:center;
	background:#f6f6f6;
}
.video-block .wrap {
	margin:0px auto;
	max-width:1280px;
	padding:40px 2.65%;
}
.video-block + .video-block {
	display:block;
	text-align:center;
	background:#f6f6f6;
	margin:-60px 0px 60px;
}

/*[Box <]*/
.video-block .box {
	display:none;
	padding:60px 0px 0px;
}
.video-block .box object,
.video-block .box iframe {
	width:100% !important;
	display:block;
	max-width:100%;
	margin:60px auto;
}
.video-block .box > :last-child {
	margin-bottom:0px;
}
.video-block .box > :first-child {
	margin-top:0px;
}
/*[Box >]*/

/*[Trigger <]*/
.video-block .trigger {
	color:#1a1a1a;
	font-size:14px;
	cursor:pointer;
	position:relative;
	line-height:normal;
	display:inline-block;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	border-bottom:dotted 2px #1a1a1a;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.video-block .trigger:hover,
.video-block .trigger:active {
	color:#bfbfbf;
	border-color:#bfbfbf;
}
.video-block .trigger:before {
	top:0px;
	content:"";
	left:-25px;
	width:15px;
	height:100%;
	position:absolute;
	background:url(../img/elements/ui/site/arrow/right-3-1.png) center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.video-block .trigger.open:before {
	background-image:url(../img/elements/ui/site/button/close-3-1.png);
}
.video-block .trigger:hover:before,
.video-block .trigger:active:before {
	background-image:url(../img/elements/ui/site/arrow/right-3-2.png);
}
.video-block .trigger.open:hover:before,
.video-block .trigger.open:active:before {
	background-image:url(../img/elements/ui/site/button/close-3-2.png);
}
/*[Trigger >]*/

/*[Video block >]*/

/*[Partners block <]*/
.partners-block {
	clear:both;
	height:162px;
	text-align:center;
	margin:0px auto -60px;
	background:url(../img/elements/backgrounds/1.png) center repeat-x;
}
.partners-block .wrap {
	margin:0px auto;
	max-width:1280px;
}

/*[Partners slider <]*/
.partners-slider {
	margin:0px auto;
	position:relative;
}
.partners-slider:after {
	clear:both;
	content:"";
	display:block;
}

/*[Slides <]*/
.partners-slider .slides {
	overflow:hidden;
	margin:0px auto;
	padding:0px 68px;
	position:relative;
}
.partners-slider .slides .item {
	display:block;
	font-size:0px;
	line-height:0px;
	text-align:center;
}
.partners-slider .slides .item .link {
	position:relative;
	display:inline-block;
}
.partners-slider .slides .item .image {
	width:175px;
	height:162px;
	display:table;
	margin:0px auto;
}
.partners-slider .slides .item .image.activ {
	top:0px;
	left:0px;
	opacity:0;
	z-index:100;
	position:absolute;
	filter:alpha(Opacity=0);
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.partners-slider .slides .item .image .middle {
	display:table-cell;
	vertical-align:middle;
}
.partners-slider .slides .item .image .middle img {
	display:inline-block;
}
.partners-slider .slides .item:hover .image.activ {
	opacity:1;
	filter:alpha(Opacity=100);
}
/*[Slides >]*/

/*[Prev & next <]*/
.partners-slider .owl-prev,
.partners-slider .owl-next {
	top:0px;
	width:68px;
	height:162px;
	position:absolute;
	background-position:center;
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.partners-slider .owl-prev {
	left:0px;
	background-image:url(../img/elements/ui/site/arrow/left-5-1.png);
}
.partners-slider .owl-next {
	right:0px;
	background-image:url(../img/elements/ui/site/arrow/right-5-1.png);
}
.partners-slider .owl-prev:hover,
.partners-slider .owl-next:hover {
	background-color:rgba(22,36,7,.5);
}
/*[Prev & next >]*/

/*[Partners slider >]*/

/*[Partners block >]*/

/*[Last news block <]*/
.last-news-block {
	clear:both;
	overflow:hidden;
	max-width:1280px;
	margin:80px auto;
}

/*[Items <]*/
.last-news-block .items {
	overflow:hidden;
}

/*[Item <]*/
.last-news-block .item {
	color:#000;
	float:left;
	width:33.333%;
	font-size:16px;
	padding:0px 3.9%;
	line-height:24px;
	margin-bottom:50px;
	text-decoration:none;
	font-family:"RedRing-Regular";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.last-news-block .item a {
	color:inherit;
	text-decoration:none;
}
.last-news-block .item p {
	margin:0px;
}
.last-news-block .item .date {
	color:#898989;
	font-size:14px;
	margin-bottom:10px;
    font-family:"RedRing-Light";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.last-news-block .item .title {
	font-family:"RedRing-Black";
}
.last-news-block .item:hover,
.last-news-block .item:hover .date {
	color:#bfbfbf;
}
/*[Item >]*/

/*[Items >]*/

/*[Link part <]*/
.last-news-block .link-part {
	margin-left:3.91%;
}
/*[Link part >]*/

/*[Last news block >]*/

/*[Directions block <]*/
.directions-block {
	clear:both;
	max-width:1280px;
	margin:80px auto;
}
.directions-block:after {
	clear:both;
	content:"";
	display:block;
}

/*[Item <]*/
.directions-block .item {
	color:#000;
	float:left;
	height:306px;
	width:33.333%;
	position:relative;
	text-decoration:none;
	font-family:"RedRing-Regular";
}

/*[Data <]*/
.directions-block .item .data {
	top:0px;
	left:0px;
	z-index:10;
	width:100%;
	height:100%;
	font-size:16px;
	line-height:22px;
	text-align:center;
	position:absolute;
	padding:7.1% 11.8%;
}
.directions-block .item .data .title {
    font-family:"RedRing-Black";
}
/*[Data >]*/

/*[Image <]*/
.directions-block .item .image {
	top:0px;
	width:100%;
	height:306px;
	overflow:hidden;
	position:relative;
	background-repeat:no-repeat;
	background-position:top center;
}
.directions-block .item .image._1 {
	background-color:#eeebe5;
	background-image:url(../img/images/group-3/1.png);
}
.directions-block .item .image._2 {
	background-color:#ececec;
	background-image:url(../img/images/group-3/2.png);
}
.directions-block .item .image._3 {
	background-color:#e9f1f6;
	background-image:url(../img/images/group-3/3.png);
}
/*[Image >]*/

/*[Item >]*/

/*[Directions block >]*/

/*[Block >]*/

/*[Window <]*/

/*[Window contact forms <]*/
.window-contact-forms {
	right:0px;
	z-index:160;
	overflow:hidden;
	position:absolute;
	display:inline-block;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}

/*[Box <]*/
.window-contact-forms .box {
	color:#000;
	padding:40px;
	font-size:14px;
	background:#fff;
}
.window-contact-forms .box:after {
	clear:both;
	content:"";
	display:block;
}
.window-contact-forms .box .title {
	font-size:15px;
	line-height:18px;
	margin-bottom:25px;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}

/*[Tabs <]*/
.window-contact-forms .tabs {
	position:relative;
}

/*[Nav <]*/
.window-contact-forms .tabs nav {
	top:-2px;
	right:0px;
	width:25px;
	height:20px;
	z-index:100;
	font-size:0px;
	text-align:right;
	position:absolute;
}
.window-contact-forms .tabs nav span {
	width:25px;
	height:20px;
	cursor:pointer;
	display:inline-block;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.window-contact-forms .tabs nav span._1 {
	background-image:url(../img/elements/ui/site/ico/1-2.png);
}
.window-contact-forms .tabs nav span._2 {
	background-image:url(../img/elements/ui/site/ico/2-2.png);
}
.window-contact-forms .tabs nav span.activ {
	display:none;
}
.window-contact-forms .tabs nav span:first-child {
	margin-left:0px;
}
/*[Nav >]*/

/*[Section <]*/

/*[Tab <]*/
.window-contact-forms .tabs .tab {
	display:none;
	position:relative;
}
.window-contact-forms .tabs .tab.activ {
	display:block;
}
/*[Tab >]*/

/*[Section <]*/

/*[Tabs >]*/

/*[Box >]*/

/*[Button close <]*/
.window-contact-forms button.close {
	width:100%;
	height:54px;
	border:none;
	outline:none;
	color:#bfbfbf;
	font-size:38px;
	overflow:hidden;
	text-align:center;
	background:#f2f2f2;
	line-height:normal;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-webkit-background-size:19px;
	-moz-background-size:19px;
	-ms-background-size:19px;
	-o-background-size:19px;
	background-size:19px;
}
.window-contact-forms button.close:hover {
	color:#1a1a1a;
}
.window-contact-forms button.close:before {
	top:0px;
	left:0px;
	content:"";
	width:100%;
	height:1px;
	display:block;
	position:absolute;
	box-shadow:0px 0px 8px 0px rgba(0,0,0,.3);
}
/*[Button close >]*/

/*[Window contact forms >]*/

/*[Window >]*/

/*[Slider <]*/

/*[Photo slider <]*/
.photo-slider {
	margin:60px 0px;
	position:relative;
}
.photo-slider:after {
	clear:both;
	content:"";
	display:block;
}

/*[Data <]*/
.photo-slider .data {
	float:right;
	width:21.4%;
}

/*[Controller <]*/
.photo-slider .controller {
	right:0px;
	bottom:0px;
	width:21.4%;
	height:18px;
	font-size:0px;
	cursor:default;
	position:absolute;
}

/*[Counter <]*/
.photo-slider .controller .counter {
	color:#1a1a1a;
	font-size:16px;
	cursor:default;
	margin:0px 15px;
	line-height:18px;
	vertical-align:top;
	display:inline-block;
    font-family:"RedRing-Regular";
}
/*[Counter >]*/

/*[Button prev & next <]*/
.photo-slider .controller .prev,
.photo-slider .controller .next {
	width:5px;
	height:18px;
	border:none;
	outline:none;
	cursor:pointer;
	position:relative;
	text-indent:-999em;
	vertical-align:top;
	display:inline-block;
	background-position:center;
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.photo-slider .controller .prev {
	background-image:url(../img/elements/ui/site/arrow/left-2-1.png);
}
.photo-slider .controller .next {
	background-image:url(../img/elements/ui/site/arrow/right-2-1.png);
}
.photo-slider .controller .prev:before,
.photo-slider .controller .next:before {
	top:0px;
	width:1px;
	height:1px;
	content:"";
	left:-999em;
	display:block;
	position:fixed;
}
.photo-slider .controller .prev:hover,
.photo-slider .controller .prev:before {
	background-image:url(../img/elements/ui/site/arrow/left-2-2.png);
}
.photo-slider .controller .next:hover,
.photo-slider .controller .next:before {
	background-image:url(../img/elements/ui/site/arrow/right-2-2.png);
}
/*[Button prev & next >]*/

/*[Controller >]*/

/*[Description <]*/
.photo-slider .description {
	color:#1a1a1a;
	font-size:14px;
	line-height:24px;
    font-family:"RedRing-Light";
}
.photo-slider .description .item {
	display:none;
}
.photo-slider .description .item.activ {
	display:block;
}
.photo-slider .description .item > :last-child {
	margin-bottom:0px;
}
.photo-slider .description .item > :first-child {
	margin-top:0px;
}
/*[Description >]*/

/*[Data >]*/

/*[Slides <]*/
.photo-slider .slides {
	float:left;
	width:75.45%;
	max-width:890px;
	overflow:hidden;
	position:relative;
}
.photo-slider .slides .item {
	float:left;
	display:block;
	line-hei ght:0px;
}
.photo-slider .slides .owl-prev,
.photo-slider .slides .owl-next {
	position:fixed;
	top:-99999999999px;
	left:-99999999999px;
}
.photo-slider .slides .item img {
	width:100%;
	height:auto;
	display:block;
	margin:0px auto;
	position:relative;
	border-top:solid 1px #f0f0f0;
	border-bottom:solid 1px #f0f0f0;
}
/*[Slides >]*/

/*[Photo slider >]*/

/*[Slider >]*/

/*[Section <]*/

/*[Section error <]*/
.section-error {
	max-width:900px;
	overflow:hidden;
}
.section-error .data {
	float:left;
}
.section-error .image {
	float:right;
}
.section-error .data > :last-child {
	margin-bottom:0px;
}
.section-error .data > :first-child {
	margin-top:0px;
}
/*[Section error >]*/

/*[Section excursion <]*/
.excursion {
	clear:both;
	height:674px;
	margin:0px auto;
	overflow:hidden;
	position:relative;
}

/*[Scene <]*/
.excursion #scene {
	cursor:hand;
	cursor:grab;
	height:100%;
	margin:0px auto;
	overflow:hidden;
	cursor:-moz-grab;
	position:relative;
	cursor:-webkit-grab;
}
.excursion #scene:active {
    cursor:url(../img/elements/ui/site/single/grabbing.png) 8 8, move;
}

/*[Point <]*/
.excursion #scene .point {
	z-index:50;
	width:80px;
	height:80px;
	cursor:pointer;
	border-radius:50%;
	position:absolute;
	border:solid 20px #fff;
	box-shadow:1px 1px 5px 0px rgba(0,0,0,.1);
	-webkit-transition:all .2s ease, border .2s ease;
	-moz-transition:all .2s ease, border .2s ease;
	-ms-transition:all .2s ease, border .2s ease;
	-o-transition:all .2s ease, border .2s ease;
	transition:all .2s ease, border .2s ease;
}
.excursion #scene .point:hover,
.excursion #scene .point.activ {
	width:100px;
	height:100px;
	border-color:#ffff64;
	margin:-10px 0px 0px -10px;
}
.excursion #scene .point:after {
	width:2px;
	height:20px;
	margin:-10px 0px 0px -1px;
}
.excursion #scene .point:after,
.excursion #scene .point:before {
	top:50%;
	left:50%;
	content:"";
	display:block;
	background:#fff;
	position:absolute;
	box-shadow:1px 1px 3px 0px rgba(0,0,0,.1);
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.excursion #scene .point:before {
	width:20px;
	height:2px;
	margin:-1px 0px 0px -10px;
}
.excursion #scene .point:hover:after,
.excursion #scene .point.activ:after,
.excursion #scene .point:hover:before,
.excursion #scene .point.activ:before {
	background:#ffff64;
}
/*[Point >]*/

/*[Content <]*/
.excursion #scene .content {
	z-index:1;
	margin:0px;
	padding:0px;
	height:710px;
	font-size:0px;
	line-height:0px;
	position:absolute;
	white-space:nowrap;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.excursion #scene .content .section {
	width:1280px;
	height:710px;
	font-size:14px;
	position:relative;
	white-space:normal;
	line-height:normal;
	vertical-align:top;
	display:inline-block;
}
/*[Content >]*/

/*[Scene >]*/

/*[Nav tabs <]*/
.excursion nav.tabs {
	height:90px;
	z-index:100;
	display:block;
	max-width:1280px;
	position:relative;
	line-height:normal;
	margin:-90px auto 0px;
}
.excursion nav.tabs > span {
	float:left;
	width:33.2%;
	height:90px;
	display:block;
	position:relative;
	background:#32ff64;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.excursion nav.tabs > span.activ {
	cursor:default;
}
.excursion nav.tabs > span + span {
	margin:0px 2px;
}
.excursion nav.tabs > span:first-child {
	border-left:none;
}
.excursion nav.tabs > span + span + span {
	margin:0px;
}

/*[Label <]*/
.excursion nav.tabs > span .label {
	width:100%;
	z-index:15;
	height:90px;
	display:table;
	cursor:pointer;
	position:relative;
	text-align:center;
	background:#32ff64;
	text-transform:uppercase;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.excursion nav.tabs > span .label span {
	color:#303030;
	font-size:15px;
	display:table-cell;
	vertical-align:middle;
	font-family:"RedRing-Bold";
}
.excursion nav.tabs > span:hover .label {
	background:#ffff64;
}
/*[Label >]*/

/*[Dropdown <]*/
.excursion nav.tabs > span .dropdown {
	left:0px;
	width:100%;
	z-index:10;
	display:block;
	background:#fff;
	position:absolute;
	padding-bottom:90px;
}

/*[Title <]*/
.excursion nav.tabs > span .dropdown .title {
	color:#303030;
	font-size:15px;
	text-align:center;
	padding:5.9% 11.8%;
	text-transform:uppercase;
	font-family:"RedRing-Bold";
}
.excursion nav.tabs > span .dropdown .title a {
	color:#303030;
	text-decoration:none;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
/*[Title >]*/

/*[Options <]*/

/*[Item <]*/
.excursion nav.tabs > span .dropdown .options .item {
	display:block;
	cursor:pointer;
	background:#fff;
	overflow:hidden;
	padding:5.9% 11.8%;
	text-decoration:none;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.excursion nav.tabs > span .dropdown .options .item.hide {
	display:none;
}
.excursion nav.tabs > span .dropdown .options .item.show {
	display:block;
}
.excursion nav.tabs > span .dropdown .options .item:hover,
.excursion nav.tabs > span .dropdown .options .item.activ {
	background:#f4f4f4;
}
.excursion nav.tabs > span .dropdown .options .item.activ {
	cursor:default;
}

/*[Data <]*/
.excursion nav.tabs > span .dropdown .options .item .data {
	display:table;
	font-size:12px;
	max-width:238px;
	min-height:72px;
}
.excursion nav.tabs > span .dropdown .options .item .data .middle {
	display:table-cell;
	vertical-align:middle;
}
.excursion nav.tabs > span .dropdown .options .item .data .middle .name {
	color:#303030;
	margin-bottom:10px;
	text-transform:uppercase;
	font-family:"RedRing-Bold";
}
.excursion nav.tabs > span .dropdown .options .item .data .middle .company {
	color:#000;
	line-height:14px;
	font-family:"RedRing-Regular";
}
/*[Data >]*/

/*[Photo <]*/
.excursion nav.tabs > span .dropdown .options .item .photo {
	float:left;
	width:72px;
	height:72px;
	margin-right:15px;
	border-radius:50%;
}
.excursion nav.tabs > span .dropdown .options .item .photo img {
	width:72px;
	height:72px;
	border-radius:50%;
}
/*[Photo >]*/

/*[Item >]*/

/*[Link to catalog <]*/
.excursion nav.tabs > span .dropdown .link-to-catalog {
	color:#303030;
	display:block;
	font-size:15px;
	background:#fff;
	text-align:center;
	padding:5.9% 11.8%;
	text-decoration:none;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.excursion nav.tabs > span .dropdown .link-to-catalog:hover {
	background:#f4f4f4;
}
/*[Link to catalog >]*/

/*[Options >]*/

/*[Dropdown >]*/

/*[Button close <]*/
.excursion nav .tab button.close {
	top:0px;
	left:0px;
	opacity:0;
	width:100%;
	z-index:15;
	height:90px;
	display:none;
	position:absolute;
	background:#ffff64 url(../img/elements/ui/site/button/close-1-1.png) center no-repeat;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}
/*[Button close >]*/

/*[Nav tabs >]*/

/*[Section excursion >]*/

/*[Section >]*/

/*[===Group >]*/

/*[===Single <]*/

/*[Loader <]*/
.loader {
	clear:both;
	width:40px;
	height:20px;
	display:none;
	margin:60px auto 0px;
	background:url(../img/elements/loader-bottom.gif) center no-repeat;
}
/*[Loader >]*/

/*[Search <]*/
.content .search {
	clear:both;
	position:relative;
	margin:20px auto 80px !important;
}
.content .search:before {
	top:52px;
	left:0px;
	content:"";
	width:100%;
	height:5px;
	z-index:1500;
	display:block;
	margin-top:-3px;
	background:#fff;
	position:absolute;
}
.content .search > .wrap {
	clear:both;
	height:54px;
	margin:0px auto;
	padding:0px 3.2%;
	max-width:1280px;
}

/*[Form <]*/
.content .search .form {
	z-index:1505;
	margin:0px auto;
	max-width:1180px;
	padding-left:50px;
	position:relative;
	background:url(../img/elements/ui/site/ico/3-1.svg) left center no-repeat;
	-webkit-background-size:19px 19px;
	-moz-background-size:19px 19px;
	-ms-background-size:19px 19px;
	-o-background-size:19px 19px;
	background-size:19px 19px;
}
.content .search .form:after {
	clear:both;
	content:"";
	display:block;
}

/*[Field <]*/
.content .search .form input[type="text"] {
	margin:0px;
	width:100%;
	height:54px;
	color:#d9d9d9;
	font-size:14px;
	position:relative;
	text-transform:uppercase;
	border:solid 2px #e2e2e2;
	font-family:"RedRing-Bold";
	padding:10px 78px 10px 28px;
}
.content .search .form input[type="text"]:focus {
	color:#303030;
}
.content .search .form input:placeholder {color:#d9d9d9;}
.content .search .form input:-moz-placeholder {color:#d9d9d9;}
.content .search .form input::-moz-placeholder {color:#d9d9d9;}
.content .search .form input:-ms-input-placeholder {color:#d9d9d9;}
.content .search .form input::-webkit-input-placeholder {color:#d9d9d9;}
/*[Field >]*/

/*[Button close <]*/
.content .search .form button.close {
	top:2px;
	right:2px;
	z-index:10;
	width:50px;
	height:50px;
	border:none;
	outline:none;
	display:none;
	color:#1a1a1a;
	font-size:36px;
	margin:0px auto;
	position:absolute;
	line-height:normal;
	text-indent:-9999px;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	background:#fff url(../img/elements/ui/site/button/close-2-1.svg) center no-repeat;
	-webkit-background-size:19px 19px;
	-moz-background-size:19px 19px;
	-ms-background-size:19px 19px;
	-o-background-size:19px 19px;
	background-size:19px 19px
}
.content .search .form button.close:hover {
	background-color:#ffff64;
}
/*[Button close >]*/

/*[Form >]*/

/*[Search >]*/

/*[Page date <]*/
.page-date {
	font-size:14px;
	margin:20px 0px;
	line-height:normal;
    font-family:"RedRing-Light";
}
/*[Page date >]*/

/*[Video list <]*/
.video-list {
	margin:60px 0px;
}
.video-list .video-block {
	margin:0px 0px 0px;
}
.video-list > :last-child {
	margin-bottom:0px;
}
.video-list > :first-child {
	margin-top:0px;
}
/*[Video list >]*/

/*[Form section <]*/
.form-section {
	color:#000;
	font-size:18px;
	background:#fff;
	margin:60px auto;
	line-height:24px;
	text-align:center;
}
.form-section .wrap {
	margin:0px auto;
	max-width:1280px;
	padding:60px 50px;
}
.form-section .title {
	font-size:15px;
	text-align:center;
	line-height:normal;
	margin-bottom:30px;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}
.form-section.bottom {
	margin:60px auto -60px;
}
.form-section .wrap > :last-child {
	margin-bottom:0px;
}
.form-section .wrap > :first-child {
	margin-top:0px;
}

/*[Form <]*/
.form-section .form {
	display:none;
	box-shadow:0px -1px 5px 0px rgba(0,0,0,.15);
}
.form-section .form label {
	font-size:14px;
	text-align:left;
	line-height:normal;
}
.form-section .form textarea {
	resize:none;
	width:746px;
	max-width:none;
	min-width:inherit;
	margin:8px 0px 30px;
}

/*[Row <]*/
.form-section .form .row {
	font-size:0px;
	line-height:0px;
	text-align:center;
	margin-bottom:30px;
}

/*[Cell <]*/
.form-section .form .row .cell {
	font-size:14px;
	text-align:left;
	line-height:normal;
	vertical-align:top;
	display:inline-block;
}
.form-section .form .row._1 .cell {
	width:358px;
}
.form-section .form .row._2 .cell {
	width:746px;
}
.form-section .form .row .cell label {
	display:block;
}
.form-section .form .row .cell input {
	width:358px;
	height:36px;
	margin:8px 0px 0px;
}
.form-section .form .row .cell label.error {
	margin:10px 0px 0px;
}
.form-section .form .row._1 .cell:first-child {
	margin-right:30px;
}
/*[Cell >]*/

/*[Row >]*/

/*[Form >]*/

/*[Begin <]*/
.form-section .begin {
	text-align:center;
	background:#f6f6f6;
}
/*[Begin >]*/

/*[Message <]*/
.form-section .message {
	display:none;
	font-size:15px;
	line-height:normal;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
	box-shadow:0px -1px 5px 0px rgba(0,0,0,.15);
}
.form-section .message .done,
.form-section .message .error {
	display:none;
}
/*[Message >]*/

/*[Button close <]*/
.form-section button.close {
	width:100%;
	z-index:100;
	height:54px;
	border:none;
	outline:none;
	color:#bfbfbf;
	font-size:38px;
	overflow:hidden;
	text-align:center;
	line-height:normal;
	background:#f2f2f2;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.form-section button.close:hover {
	color:#1a1a1a;
}
.form-section button.close:before {
	top:0px;
	left:0px;
	content:"";
	width:100%;
	height:1px;
	display:block;
	position:absolute;
	box-shadow:0px 0px 8px 0px rgba(0,0,0,.3);
}
/*[Button close >]*/

/*[Form section >]*/

/*[Contact list <]*/
.contact-list {
	cursor:default;
	margin:40px 0px;
}
.contact-list a {
	height:40px;
	color:#1a1a1a;
	font-size:16px;
	line-height:40px;
	margin-left:40px;
	padding-left:60px;
	display:inline-block;
	text-decoration:none;
	background-repeat:no-repeat;
    font-family:"RedRing-Medium";
	background-position:left center;
}
.contact-list a:first-child {
	margin-left:0px;
}
.contact-list a[href^="tel:"] {
	background-image:url(../img/elements/ui/site/ico/group-2/1-1.png);
}
.contact-list a[href^="mailto:"] {
	background-image:url(../img/elements/ui/site/ico/group-2/2-1.png);
}
/*[Contact list >]*/

/*[Graph stages <]*/
.graph-stages {
	margin:60px 0px;
	overflow:hidden;
	max-width:1180px;
}

/*[Rule <]*/
.graph-stages .rule {
	clear:both;
	width:1300px;
	font-size:0px;
	line-height:0px;
	margin-top:20px;
}

/*[Year <]*/
.graph-stages .rule .year {
	color:#000;
	font-size:14px;
	text-align:center;
	position:relative;
	line-height:normal;
	display:inline-block;
}

/*[Line <]*/
.graph-stages .rule .year .line {
	margin-bottom:5px;
	position:relative;
	display:inline-block;
	border-bottom:solid 1px #000;
}
.graph-stages .rule .year .line:after {
	clear:both;
	content:"";
	display:block;
}
.graph-stages .rule .year .line:before {
	left:-1px;
	width:1px;
	bottom:0px;
	content:"";
	height:30px;
	display:block;
	background:#000;
	position:absolute;
}
.graph-stages .rule .year:first-child .line:before {
	display:none;
	content:inherit;
}

/*[Month <]*/
.graph-stages .rule .year .line .month {
	float:left;
	width:90px;
	display:block;
	position:relative;
	padding-bottom:5px;
    font-family:"RedRing-Light";
}
.graph-stages .rule .year .line .month:before {
	left:-1px;
	width:1px;
	bottom:0px;
	height:6px;
	content:"";
	display:block;
	background:#000;
	position:absolute;
}
.graph-stages .rule .year .line .month:first-child:before {
	display:none;
	content:inherit;
}
/*[Month >]*/

/*[Line >]*/

/*[Label <]*/
.graph-stages .rule .year .label {
	text-align:left;
    font-family:"RedRing-Medium";
}
/*[Label >]*/

/*[Year >]*/

/*[Rule >]*/

/*[Scene <]*/
.graph-stages .scene {
	padding-bottom:15px;
}

/*[Item <]*/
.graph-stages .scene .item {
	position:relative;
	padding-bottom:5px;
	margin-bottom:-15px !important;
	border-bottom:solid 5px transparent;
}
.graph-stages .scene .item .name {
	display:block;
	color:#1a1a1a;
	font-size:15px;
	line-height:normal;
    font-family:"RedRing-Light";
}
.graph-stages .scene .item .duration {
	display:block;
	font-size:15px;
	margin-bottom:5px;
	line-height:normal;
}
.graph-stages .scene .item._1 {
	border-color:#33f214;
}
.graph-stages .scene .item._1 .duration {
	color:#33f214;
}
.graph-stages .scene .item._2 {
	border-color:#07d5ed;
}
.graph-stages .scene .item._2 .duration {
	color:#07d5ed;
}
.graph-stages .scene .item._3 {
	border-color:#007eff;
}
.graph-stages .scene .item._3 .duration {
	color:#007eff;
}
.graph-stages .scene .item._4 {
	border-color:#ff00d8;
}
.graph-stages .scene .item._4 .duration {
	color:#ff00d8;
}
.graph-stages .scene .item._5 {
	border-color:#ff0000;
}
.graph-stages .scene .item._5 .duration {
	color:#ff0000;
}
/*[Item >]*/

/*[Scene >]*/

/*[Graph stages >]*/

/*[Search results <]*/
.search-results {
	width:100%;
	display:none;
	font-size:0px;
	background:#fff;
	padding:60px 0px;
	position:relative;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}
.search-results .wrap {
	height:100%;
	margin:0px auto;
	overflow:hidden;
	max-height:100%;
	max-width:1280px;
	padding:0px 2.65%;
}
.search-results .wrap:after {
	clear:both;
	content:"";
	display:block;
}
.search-results .wrap > :last-child {
	margin-bottom:0px;
}
.search-results .wrap > :first-child {
	margin-top:0px;
}
/*[Search results >]*/

/*[Full size image <]*/
.full-size-image {
	font-size:0px;
	line-height:0px;
	margin:60px 0px;
	text-align:center;
}
.full-size-image img {
	width:100%;
}
/*[Full size image >]*/

/*[===Single >]*/

/*[Modal window <]*/
.window-container {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:auto;
	position:fixed;
	z-index:10000000;
	background:url(../img/elements/pattern/color/1.png)
}
.window-container .window-align {
	width:100%;
	height:100%;
	display:table;
}
.window-container .window-align .window-middle {
	padding:15px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

/*[Window <]*/
.window {
	z-index:100;
	margin:0px auto;
	position:relative;
	display:inline-block;
}

/*[Box <]*/
.window .box {
	color:#000;
	padding:40px;
	font-size:14px;
	background:#fff;
	text-align:left;
}
.window .box:after {
	clear:both;
	content:"";
	display:block;
}
.window .box .title {
	font-size:15px;
	line-height:18px;
	margin-bottom:25px;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}
/*[Box >]*/

/*[Button close <]*/
.window button.close {
	width:100%;
	height:54px;
	border:none;
	outline:none;
	color:#bfbfbf;
	font-size:38px;
	overflow:hidden;
	text-align:center;
	background:#f2f2f2;
	line-height:normal;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.window button.close:hover {
	color:#1a1a1a;
}
.window button.close:before {
	top:0px;
	left:0px;
	content:"";
	width:100%;
	height:1px;
	display:block;
	position:absolute;
	box-shadow:0px 0px 8px 0px rgba(0,0,0,.3);
}
/*[Button close >]*/

/*[Window >]*/

/*[Window message <]*/
.window.message {
	font-size:16px;
	line-height:24px;
	text-decoration:none;
	font-family:"RedRing-Regular";
}
.window.message .box p {
	margin:15px 0px 0px;
}
/*[Window message >]*/

/*[Modal window >]*/




/*[==Content main >]*/

/*[=Aside content >]*/

/*[=Default style <]*/

/*[Hr <]*/
hr.type-1 {
	clear:both;
	height:1px;
	border:none;
	display:block;
	margin:30px 0px;
	background:#eee;
}
/*[Hr >]*/

/*[Ol <]*/
ol {
	padding:0px;
	display:block;
	list-style:none;
	margin:60px 0px 60px 30px;
}
ol li {
	position:relative;
}
ol li:first-child {
	margin-top:0px;
}

/*[1 <]*/
ol._1 li {
	padding-left:15px;
}
ol._1 li ol {
	margin:28px 0px 28px 30px;
}
ol._1 > li:before {
	top:0px;
	left:0px;
	display:block;
	position:absolute;
	content:"•" !important;
}
/*[1 >]*/

/*[2 <]*/
ol._2 {
	counter-reset:list-1;
}
ol._2 li ol {
	counter-reset:list-n;
	margin:28px 0px 28px 30px;
}
ol._2 li:before {
	margin-right:5px;
	position:relative;
	display:inline-block;
	counter-increment:list-1;
	content:counter(list-1) ". ";
}
ol._2 ol li:before {
	counter-increment:list-n;
	content:counter(list-1) "." counter(list-n) ". ";
}
/*[2 >]*/

/*[Ol >]*/

/*[Table <]*/
table._1 {
	width:100%;
	margin:30px 0px;
}
table._1 tr th,
table._1 tr td {
	text-align:left;
	vertical-align:top;
}
table._1 thead tr {
	border-bottom:solid 1px #000;
}
table._1 tbody tr {
	border-top:solid 1px #999;
}
table._1 thead tr th {
	color:#000;
	padding:15px 0px 15px 30px;
}
table._1 tbody tr th {
	color:#000;
	padding:30px 0px 30px 30px;
}
table._1 tbody tr td {
	color:#6b6b6b;
	padding:30px 0px 30px 30px;
}
table._1 tr > :first-child {
	padding-left:0px;
}
/*[Table >]*/

/*[Baloon <]*/
.baloon {
	color:#000;
	font-size:12px;
	background:#fff;
	line-height:normal;
	white-space:nowrap;
	word-spacing:0.03em;
	letter-spacing:0.013em;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,.15);
}
.baloon p {
	margin:5px 0px 0px;
}
.baloon .title {
	font-size:14px;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}
.baloon .close {
	display:none !important;
}
.baloon .elements .el-3 {
	display:none !important;
}
.baloon .elements .angle {
	border-top-color:#fff !important;
}
.baloon .elements .container {
	border-radius:0px !important;
	background-color:#fff !important;
}
.baloon .elements .container-wrap {
	box-shadow:none !important;
	border-radius:0px !important;
	background-color:#fff !important;
	-webkit-box-shadow:none !important;
}
/*[Baloon >]*/

/*[Helpers <]*/
.hidden {
	position:fixed !important;
	top:-9999999999px !important;
	left:-9999999999px !important;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.bold {
    font-family:"RedRing-Bold";
}
.light {
    font-family:"RedRing-Light";
}
.medium {
    font-family:"RedRing-Medium";
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.align-center {
	text-align:center;
}
.margin-0 {
	margin:0px !important;
}
.margin-top-0 {
	margin-top:0px !important;
}
.margin-left-0 {
	margin-left:0px !important;
}
.margin-right-0 {
	margin-right:0px !important;
}
.margin-bottom-0 {
	margin-bottom:0px !important;
}
.padding-0 {
	padding:0px !important;
}
.padding-top-0 {
	padding-top:0px !important;
}
.padding-left-0 {
	padding-left:0px !important;
}
.padding-right-0 {
	padding-right:0px !important;
}
.padding-bottom-0 {
	padding-bottom:0px !important;
}
/*[Helpers >]*/

/*[Blockquote <]*/
blockquote._1 {
	font-size:24px;
	margin:60px 0px;
	line-height:normal;
	font-weight:normal;
	letter-spacing:0.03em;
	text-transform:uppercase;
    font-family:"RedRing-Medium";
}
blockquote > :last-child {
	margin-bottom:0px;
}
blockquote > :first-child {
	margin-top:0px;
}
/*[Blockquote >]*/

/*[Typography <]*/
p {
	display:block;
	margin:30px 0px;
}

p a {
	color:#1a1a1a;
	text-decoration:none;
	border-bottom:solid 1px #1a1a1a;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
p a:hover {
	color:#bfbfbf;
	text-decoration:none;
	border-bottom:solid 1px #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height:normal;
	font-weight:normal;
}

h1,
h2,
h3 {
	margin:40px 0px;
	text-transform:uppercase;
    font-family:"RedRing-Regular";
}
h1 {
	font-size:30px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:18px;
}

h4,
h5,
h6 {
	margin:20px 0px 10px;
    font-family:"RedRing-Light";
}
h4 {
	font-size:16px;
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}

a[href^="tel:"],
a[href^="mailto:"] {
	color:inherit;
	text-decoration:inherit;
}
/*[Typography >]*/

/*[Form fields <]*/

/*[Error <]*/
label.error {
	clear:both;
	float:none;
	padding:0px;
	color:#ff4343;
	display:block;
	font-size:12px;
	line-height:14px;
	margin:-10px 0px 20px;
    font-family:"RedRing-Regular";
}
textarea.error,
input[type="text"].error,
input[type="password"].error {
	border-color:#ff4343;
}
/*[Error >]*/

/*[Button <]*/
button,
.button {
	border:none;
	outline:none;
	cursor:pointer;
	text-align:center;
	position:relative;
	white-space:nowrap;
	line-height:normal;
	display:inline-block;
	text-decoration:none;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}

/*[1 <]*/
button._1,
.button._1 {
	color:#303030;
	font-size:15px;
	padding:15px 60px;
	background:#32ff64;
	line-height:normal;
	text-transform:uppercase;
    font-family:"RedRing-Bold";
}
button._1:hover,
.button._1:hover,
button._1:active,
.button._1:active {
	background:#ffff64;
}
button.disabled._1,
.button.disabled._1,
button[disabled]._1,
[disabled].button._1 {
	color:#1a1a1a;
	cursor:default;
	background:#f2f2f2;
}
/*[1 >]*/

/*[2 <]*/
button._2,
.button._2 {
	color:#303030;
	font-size:15px;
	background:#fff;
	padding:15px 60px;
	line-height:normal;
	text-transform:uppercase;
	border:solid 3px #32ff64;
    font-family:"RedRing-Bold";
}
button._2:hover,
.button._2:hover {
	background:#32ff64;
	border-color:#32ff64;
}
button._2:active,
.button._2:active {
	background:#ffff64;
	border-color:#ffff64;
}
/*[2 >]*/

/*[Button >]*/

/*[Fields <]*/
textarea {
	resize:none;
	width:355px;
	height:100px;
	outline:none;
	padding:10px;
	display:block;
	font-size:14px;
	background:#fff;
	min-width:355px;
	max-width:355px;
	min-height:100px;
	max-height:100px;
	margin:5px 0px 20px;
	border:solid 2px #e2e2e2;
    font-family:"RedRing-Regular";
	line-height:normal !important;
}
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="week"],
input[type="text"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"] {
	width:355px;
	height:36px;
	padding:10px;
	outline:none;
	color:#d9d9d9;
	display:block;
	font-size:14px;
	background:#fff;
	margin:5px 0px 20px;
	letter-spacing:0.013em;
	border:solid 2px #e2e2e2;
    font-family:"RedRing-Regular";
	line-height:normal !important;
	-webkit-transition:color .2s ease;
	-moz-transition:color .2s ease;
	-ms-transition:color .2s ease;
	-o-transition:color .2s ease;
	transition:color .2s ease;
}
textarea:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus {
	color:#303030;
}
:focus:-moz-placeholder {color:transparent !important;}
:focus::-moz-placeholder {color:transparent !important;}
:focus:-ms-input-placeholder {color:transparent !important;}
:focus::-webkit-input-placeholder {color:transparent !important;}
/*[Fields >]*/

/*[Selectbox <]*/
.selectbox {
	color:#000;
	height:30px;
	outline:none;
	cursor:default;
	font-size:14px;
	background:#fff;
	text-align:left;
	position:relative;
	font-style:normal;
	font-weight:normal;
	line-height:normal;
	text-transform:none;
	display:inline-block;
	border:solid 1px #ffd865;
    font-family:"DINPro-Regular";
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.selectbox.error {
	border-color:#e6202b;
}
.selectbox:after {
	top:0px;
	right:0px;
	width:30px;
	content:"";
	height:100%;
	display:block;
	position:absolute;
	background:url(../img/elements/ui/site/arrow/bottom-3-1.png) center no-repeat;
}
.selectbox .label {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:5px 30px 8px 15px;
}
.selectbox select {
	top:0px;
	left:-9999em;
	display:block;
	position:fixed;
}
.selectbox.open:after {
	background:url(../img/elements/ui/site/arrow/top-3-1.png) center no-repeat;
}

/*[Dropdown <]*/
.selectbox .dropdown {
	top:100%;
	left:0px;
	color:#000;
	width:100%;
	z-index:500;
	height:auto;
	display:none;
	background:#fff;
	margin-left:-1px;
	position:absolute;
	border-left:solid 1px #ffd865;
	border-right:solid 1px #ffd865;
	border-bottom:solid 1px #ffd865;
}
.selectbox.open .dropdown {
	display:block;
}
.selectbox.error .dropdown {
	border-color:#e6202b;
}
.selectbox.above .dropdown {
	top:auto;
	bottom:100%;
	border-bottom:none;
	border-top:solid 1px #ffd865;
	border-left:solid 1px #ffd865;
	border-right:solid 1px #ffd865;
}

/*[Options <]*/
.selectbox .dropdown ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.selectbox .dropdown ul li {
	display:block;
	cursor:pointer;
	padding:7px 15px 6px;
	-webkit-transition:all .2s easet;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.selectbox .dropdown ul li:hover {
	color:#fff;
	background:#fdcb3c;
}
.selectbox .dropdown ul li.selected {
	display:none;
}
/*[Options >]*/

/*[Dropdown >]*/

/*[Selectbox >]*/

/*[Radio & checkbox <]*/

/*[Radio <]*/
.radio {
	top:2px;
	width:14px;
	height:14px;
	margin-right:8px;
	position:relative;
	display:inline-block;
	background:url(../img/elements/ui/site/button/radio-1-1.png) center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.radio.checked {
	background-image:url(../img/elements/ui/site/button/radio-1-2.png);
}
/*[Radio >]*/

/*[Checkbox <]*/
.checkbox {
	top:3px;
	width:16px;
	height:16px;
	margin-right:8px;
	position:relative;
	display:inline-block;
	background:url(../img/elements/ui/site/button/checkbox-1-1.png) center no-repeat;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.checkbox.checked {
	background-image:url(../img/elements/ui/site/button/checkbox-1-2.png);
}
/*[Checkbox >]*/

/*[Radio & checkbox >]*/

/*[Form fields >]*/

/*[=Default style >]*/

/*[=Plugins style <]*/

/*[Owl Carousel <]*/
.owl-carousel {
	width:100%;
	cursor:hand;
	cursor:grab;
	display:none;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	position:relative;
	-ms-touch-action:pan-y;
}
.owl-carousel .owl-item {
	float:left;
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
.owl-carousel .owl-wrapper {
	display:none;
	position:relative;
	-webkit-transform:translate3d(0px,0px,0px);
}
.owl-carousel .owl-controls {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
	cursor:pointer;
	overflow:hidden;
	text-indent:-99999px;
}
.owl-carousel .owl-wrapper:after {
	clear:both;
	height:0px;
	content:".";
	display:block;
	line-height:0px;
	visibility:hidden;
}
.owl-carousel .owl-wrapper-outer {
	width:100%;
	overflow:hidden;
	position:relative;
}
.owl-carousel .owl-wrapper .grabbing { 
    cursor:url(../img/elements/ui/site/single/grabbing.png) 8 8, move;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition:height 200ms ease-in-out;
	-moz-transition:height 200ms ease-in-out;
	-ms-transition:height 200ms ease-in-out;
	-o-transition:height 200ms ease-in-out;
	transition:height 200ms ease-in-out;
}

/*[Transitions <]*/
.owl-origin {
	-webkit-perspective:1200px;
	-webkit-perspective-origin-x :50%;
	-webkit-perspective-origin-y :50%;
	-moz-perspective :1200px;
	-moz-perspective-origin-x :50%;
	-moz-perspective-origin-y :50%;
	perspective :1200px;
}

/*[Fade <]*/
.owl-fade-out {
	z-index:10;
	-webkit-animation:fadeOut .7s both ease;
	-moz-animation:fadeOut .7s both ease;
	animation:fadeOut .7s both ease;
}
.owl-fade-in {
	-webkit-animation:fadeIn .7s both ease;
	-moz-animation:fadeIn .7s both ease;
	animation:fadeIn .7s both ease;
}
/*[Fade >]*/

/*[GoDown <]*/
.owl-goDown-out {
	-webkit-animation:scaleToFade .7s ease both;
	-moz-animation:scaleToFade .7s ease both;
	animation:scaleToFade .7s ease both;
}
.owl-goDown-in {
	-webkit-animation:goDown .6s ease both;
	-moz-animation:goDown .6s ease both;
	animation:goDown .6s ease both;
}
/*[GoDown >]*/

/*[ScaleUp <]*/
.owl-fadeUp-in {
	-webkit-animation:scaleUpFrom .5s ease both;
	-moz-animation:scaleUpFrom .5s ease both;
	animation:scaleUpFrom .5s ease both;
}
.owl-fadeUp-out {
	-webkit-animation:scaleUpTo .5s ease both;
	-moz-animation:scaleUpTo .5s ease both;
	animation:scaleUpTo .5s ease both;
}
/*[ScaleUp >]*/

/*[BackSlide <]*/
.owl-backSlide-out {
	-webkit-animation:backSlideOut 1s both ease;
	-moz-animation:backSlideOut 1s both ease;
	animation:backSlideOut 1s both ease;
}
.owl-backSlide-in {
	-webkit-animation:backSlideIn 1s both ease;
	-moz-animation:backSlideIn 1s both ease;
	animation:backSlideIn 1s both ease;
}
/*[BackSlide >]*/

/*[Keyframes <]*/
@-webkit-keyframes empty {
	0% {opacity:1;}
}
@-moz-keyframes empty {
	0% {opacity:1;}
}
@keyframes empty {
	0% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-moz-keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}

@-webkit-keyframes backSlideOut {
	25% {opacity:.5; -webkit-transform:translateZ(-500px);}
	75% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}
	100% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}
}
@-moz-keyframes backSlideOut {
	25% {opacity:.5; -webkit-transform:translateZ(-500px);}
	75% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}
	100% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}
}
@keyframes backSlideOut {
	25% {opacity:.5; -webkit-transform:translateZ(-500px);}
	75% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}
	100% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}
}

@-webkit-keyframes backSlideIn {
	0%, 25% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(200%);}
	75% {opacity:.5; -webkit-transform:translateZ(-500px);}
	100% {opacity:1; -webkit-transform:translateZ(0) translateX(0);}
}
@-moz-keyframes backSlideIn {
	0%, 25% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(200%);}
	75% {opacity:.5; -webkit-transform:translateZ(-500px);}
	100% {opacity:1; -webkit-transform:translateZ(0) translateX(0);}
}
@keyframes backSlideIn {
	0%, 25% {opacity:.5; -webkit-transform:translateZ(-500px) translateX(200%);}
	75% {opacity:.5; -webkit-transform:translateZ(-500px);}
	100% {opacity:1; -webkit-transform:translateZ(0) translateX(0);}
}

@-webkit-keyframes scaleToFade {
	to {opacity:0;-webkit-transform:scale(.8);}
}
@-moz-keyframes scaleToFade {
	to {opacity:0;-webkit-transform:scale(.8);}
}
@keyframes scaleToFade {
	to {opacity:0;-webkit-transform:scale(.8);}
}

@-webkit-keyframes goDown {
	from {-webkit-transform:translateY(-100%);}
}
@-moz-keyframes goDown {
	from {-webkit-transform:translateY(-100%);}
}
@keyframes goDown {
	from {-webkit-transform:translateY(-100%);}
}

@-webkit-keyframes scaleUpFrom {
	from {opacity:0;-webkit-transform:scale(1.5);}
}
@-moz-keyframes scaleUpFrom {
	from {opacity:0;-webkit-transform:scale(1.5);}
}
@keyframes scaleUpFrom {
	from {opacity:0;-webkit-transform:scale(1.5);}
}

@-webkit-keyframes scaleUpTo {
	to {opacity:0;-webkit-transform:scale(1.5);}
}
@-moz-keyframes scaleUpTo {
	to {opacity:0;-webkit-transform:scale(1.5);}
}
@keyframes scaleUpTo {
	to {opacity:0;-webkit-transform:scale(1.5);}
}
/*[Keyframes >]*/

/*[Transitions >]*/

/*[Owl Carousel >]*/

/*[=Plugins style >]*/

.clearfix {
	clear:both;
}

/*[ Hacks IE 10 ]*/
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
}

/*[ Hacks Firefox ]*/
@-moz-document url-prefix() {
}




