
@font-face {
    font-family:"RedRing-Medium";
    src:url("red_ring_medium-webfont.eot");
    src:url("red_ring_medium-webfont.eot?#iefix") format("embedded-opentype"),
        url("red_ring_medium-webfont.woff") format("woff"),
        url("red_ring_medium-webfont.ttf") format("truetype"),
        url("red_ring_medium-webfont.svg#RedRing-Medium") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"RedRing-Bold";
    src:url("red_ring_bold-webfont.eot");
    src:url("red_ring_bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("red_ring_bold-webfont.woff") format("woff"),
        url("red_ring_bold-webfont.ttf") format("truetype"),
        url("red_ring_bold-webfont.svg#RedRing-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"RedRing-Black";
    src:url("redring-black-webfont.eot");
    src:url("redring-black-webfont.eot?#iefix") format("embedded-opentype"),
        url("redring-black-webfont.woff") format("woff"),
        url("redring-black-webfont.ttf") format("truetype"),
        url("redring-black-webfont.svg#RedRing-Black") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"RedRing-Light";
    src:url("redring-light-webfont.eot");
    src:url("redring-light-webfont.eot?#iefix") format("embedded-opentype"),
        url("redring-light-webfont.woff") format("woff"),
        url("redring-light-webfont.ttf") format("truetype"),
        url("redring-light-webfont.svg#RedRing-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"RedRing-Regular";
    src:url("redring-regular-webfont.eot");
    src:url("redring-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("redring-regular-webfont.woff") format("woff"),
        url("redring-regular-webfont.ttf") format("truetype"),
        url("redring-regular-webfont.svg#RedRing-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"ProximaNova-Regular";
    src:url("proximanova-regular-webfont.eot");
    src:url("proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("proximanova-regular-webfont.woff") format("woff"),
        url("proximanova-regular-webfont.ttf") format("truetype"),
        url("proximanova-regular-webfont.svg#ProximaNova-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}
